.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
}

.sidebarWrapper {
  grid-column: 1/4;
}
.mainWrapper {
  padding: 5%;
  grid-column: 4/13;
}
